
body, html 
{
	margin: 0px;
	padding: 0px;
}

body, p, td, table, tr 
{
	font-size: 10pt;
	font-family: Verdana;
	line-height: 1.3;
	color: #484848;
	font-weight: normal;
}


table.outlined {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #DFDFDF;
	border-collapse: collapse;
}
table.outlined th {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: #DFDFDF;
	background-color: #DFDFDF;
	font-weight: bold;
	text-align: left;
	-moz-border-radius: ;
}
table.outlined td {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: rgb(223, 223, 223);
	-moz-border-radius: ;
	vertical-align: text-top;
}

h1 
{
	font-family: Verdana;
	font-size: 14pt;
	border-bottom: 1px solid #DFDFDF;
}

h2 
{
	font-size: 12pt;
	font-family: Verdana;
	padding-top: 5px;
	border-top: 4px solid #DFDFDF;
	margin-top: 40px;
}

a:link 
{
	text-decoration: underline; 
	color: #0b78b2;
}

a:visited 
{
	text-decoration: underline; 
	color: #0b78b2;
}

a.newsPost:link
{
	text-decoration: none;
	color: #484848;
}

a.newsPost:visited
{
	text-decoration: none;
	color: #484848;
}


.header 
{
	height: 91px;
	background-color: #FAFAFA;
	border-bottom: 1px solid #DFDFDF;
}

.logo
{
	position: absolute;
	top: 15px;
	height: 50px;
	width: 342px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	left: 50%;
    margin-left: -482px;
	cursor: hand;
	cursor:pointer;
}

.github-logo
{
	position: absolute;
	top: 15px;
	height: 50px;
	width: 111px;
	background-image: url('../images/github-logo.png');
	background-repeat: no-repeat;
	left: 50%;
    margin-left: 365px;
	cursor: hand;
}

.center
{
	position: absolute;
	top: 70px;
	width: 965px;
	background-image: url('../images/center-background.png');
	background-repeat: no-repeat;
	left: 50%;
    margin-left: -482px;
	padding-top: 20px;
}

.content
{
	margin-left: 30px;
	margin-right: 30px;
	display: inline-block;

}

.content-column
{
	width: 700px;
	padding-right: 20px;
}

.menu-column
{
	width: 200px;
}

.menu 
{
	border: 1px solid #DFDFDF;

}

.menu-item
{
	border-bottom: 1px solid #DFDFDF;
	padding: 5px;
}

.menu-header 
{
	background-color:#FAFAFA;
	padding: 5px;
	border-bottom: 1px solid #DFDFDF;
	font-weight: bold;
}
