<html>
	<head>
		<title>{{ page.title }}</title>
		<link id="stylesheet" href="{{ site.base-url }}/css/github.css" rel="stylesheet" type="text/css"></link>
		<script type="text/javascript">

			function logoClick() {
				document.location = 'http://' + document.location.host;
			}

		</script>
	</head>
	<body>
		<div class="header">
			<div class="logo" onclick="logoClick()">&nbsp;</div>
			<div class="github-logo" onclick="document.location='http://.github.com/blackberry'">&nbsp;</div>
		</div>
		<div class="center">
			<table class="content">
				<tr>
					<td valign="top" class="content-column">
						<div>

							  {{ content }}


						</div>
					</td>
					<td valign="top" class="menu-column">
						<div class="menu">
							<div class="menu-header">General</div>
							<div class="menu-item"><a href="javascript:logoClick();" >Home</a></div>
							<div class="menu-item"><a href="{{ site.base-url }}/news.html">Open Source News</a></div>
							<div class="menu-item"><a href="{{ site.base-url }}/howToContribute.html">How To Contribute</a></div>
							<div class="menu-item"><a href="{{ site.base-url }}/approvedSignatories.html">Approved Signatories</a></div>
							<!-- Web Projects -->
							<div class="menu-header">Web Projects</div>
							<div class="menu-item"><a id="webworks" href="{{ site.base-url }}/webworks/index.html">BlackBerry WebWorks</a></div>
							<div class="menu-item"><a id="ripple" href="{{ site.base-url }}/ripple/index.html">Ripple</a></div>
							<div class="menu-item"><a id="alice" href="{{ site.base-url }}/alicejs/index.html">Alice.js</a></div>
							<div class="menu-item"><a id="wsamples" href="{{ site.base-url }}/webworks/index.html">Samples</a></div>
							<!-- Native Projects -->
							<div class="menu-header">Native Projects</div>
							<div class="menu-item"><a id="nmedia" href="{{ site.base-url }}/ndk/components.html#media">Media</a></div>
							<div class="menu-item"><a id="ngaming" href="{{ site.base-url }}/ndk/components.html#gaming">Gaming</a></div>
							<div class="menu-item"><a id="nlibraries" href="{{ site.base-url }}/ndk/components.html#libraries">Libraries</a></div>
							<div class="menu-item"><a id="nsamples" href="{{ site.base-url }}/ndk/samples.html">Samples</a></div>
							<!-- Coming Soon -->
							<div class="menu-header">Coming Soon</div>
							<div class="menu-item"><a id="soon" href="{{ site.base-url }}/comingSoon.html">Previews</a></div>

						</div>
					</td>
				<tr>
			</table>
			<div class="footer">
				<div style="border-style: none none dashed none; border-width: 1px; border-color: Silver;margin-top: 40px;"></div>
				<p style="font-size: 8.5pt;color:Gray;text-decoration:italics;text-align: center;">Copyright 1999-2011 Research In Motion Limited. 295 Phillip Street, Waterloo, Ontario, Canada, N2L 3W8. All Rights Reserved.</p>
			</div>
		</div>

	</body>
</html>
